<h2>Attractions</h2>
<div>
  <% if current_user.admin %>
    <%= render partial: "admin_attraction", collection: @attractions %>
    <%= link_to "New Attraction", new_attraction_path %>
  <% else %>
    <%= render partial: "attraction", collection: @attractions %>
  <% end %>
</div>